html, body {
    height: 100%;
    width: 100%;
    background-color: #2f1125;
    font-family: monospace, serif;
}

.login{
    font-size: 16px;
    justify-content: center;
    display: flex;
}

.button{
    background-color: #5BDEA5;
    font-family: monospace, serif;
}

div{
    padding: 1%;
}

.padding{
    padding-top: 10%;
}