html, body {
    height: 100%;
    width: 100%;
    background-color: #2f1125;
}

.login{
    display: flex;
    align-items: center;
    width: 50%;
    border-start-end-radius: 5%;
    background-color: #5BDEA5;
    
}